.single {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    &__img {
        width: 70%;
        img {
            width: 100%;
            object-fit: contain;

        }
    }

    &__desc {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}